*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding: 10px;
}

.menu a {
  padding:10px;
  background-color:darkcyan;
  border-style: groove;
  border-width: 10px;
  border-color:deeppink;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  margin-right: 20px;
}

.menu a:hover{
  color: chartreuse;
}

.imagem-container{
display:flex;
justify-content: space-between;
flex-wrap: wrap;
}

